* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    border: 1px solid black;
    text-align: center;
    background-color: #69F5CF;
    color: #010034;
}

.titulo {
    text-align: center;
}

.card {
    width: 425px;
    height: 212px;
    border: 3px ridge rgb(245, 177, 52);
    margin: 10px 0 10px 11px;
    padding: 15px 15px 0;

    display: inline-block;
}

.card-titulo {
    font-size: medium;
    margin: 0 0 10px 0;
    display: inline;
}

.card-imagem {
    width: 30%;
    display: inline;
    float: left;
    margin-top: 50px;
}

.card-texto {
    display: inline;
    width: 65%;
    float: right;
    font-size: small;
    line-height: 15pt;
    margin-top: 30px;
}

