:root {
    --purple: #4608AE;
    --lightPurple: #C2BCE8;
    --gold: #5C3615;
    --cream: #F0EEEE;
    --darkCream: #E5E5E5;
    --earth: #473B3B;
    --openSans: 'Open Sans', sans-serif;
    --abeezee: 'ABeeZee', sans-serif;
}

body {
    margin: 0;
}

/* HEADER */
nav {
    background-color: var(--purple);
    color: #FFFFFF;
    padding: 1em 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    font-family: var(--openSans);
    font-size: 20px;
    font-weight: bold;
    list-style: none;

    margin: 0 1.5em;
    cursor: pointer;
}

nav ul li:hover {
    transform: scale(1.2);
}

/* MAIN */

section {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 2em;
    height: 33%;
}

section h2, h4 {
    color: var(--purple);
    font-family: var(--openSans);
}

section p {
    font-family: var(--abeezee);
    font-size: 15px;
}

.sobre, .portfolio {
    background-color: var(--cream);
}

.conteiner-sobre img {
    border-radius: 30%;
    width: 10%;
    margin-bottom: 1em;
}

.conteiner-sobre h1, h3 {
    font-family: var(--openSans);
    margin: 3px 0;
}

.conteiner-sobre p {
    width: 60%;
    margin: 1em auto;
}

.formacao {
    background-color: var(--darkCream);
}

.conteiner-formacao, .conteiner-portfolio {
    margin: 2em 6em;
    text-align: left;
    width: 70%;
}

.texto {
    margin: 2em 15em;
    width: 60%;
}

.texto h4 {
    font-weight: bolder;
    color: var(--gold);
}

.texto a {
    text-decoration: none;
}

/* .texto a:active {
    color: var(--purple);
} */

.contato {
    background-color: var(--purple);
    padding: 3em 0;
    font-family: var(--openSans);
    font-size: 14px;
}

.contato li {
    list-style: none;
    margin: 1em;
}

.contato img {
    width: 2%;
    margin: 15px;
}

.contato a {
    color: #FFFFFF;
}